/* Body */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2; 
}

/* Heading */
h1 {
    text-align: center;
    color: #333; 
    margin-top: 20px;
}


/* Menu CSS  */

.menu-container {
    width: 100%;
    background-color: #333;
    text-align: center; 
}
.logo-img {
    width: 40px; 
    height: auto; 
    position: absolute;
    left: 20px;
    transform: translateY(-50%); 
}

.nav-bar {
    padding: 30px;
}

.nav-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-bar ul li {
    display: inline-block; 
    margin-right: 20px;
}

.nav-bar ul li a {
    color: #fff;
    text-decoration: none;
    padding: 16px 32px; 
    background-color: #444; 
    border-radius: 5px; 
    transition: background-color 0.3s; 
}

.nav-bar ul li a:hover {
    background-color: #777; 
}

/* Menu CSS END */

/* Footer CSS */

.footer-container {
    width: 100%;
    background-color: #333; 
    text-align: center;
    color: #fff; 
    padding: 10px;
    position: relative; 
    margin-top: auto; 
}
.space-wrapper {
    min-height: 85vh;
    display: flex;
    flex-direction: column;
}

/* Footer text */
.footer-container footer p {
    margin: 0;
}

/* Footer CSS END*/

/* Registration CSS */

.credential-container {
    width: 50%;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

.credential-container input[type="text"],
.credential-container input[type="email"],
.credential-container input[type="password"] {
    width: calc(100% - 20px);
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc; 
    border-radius: 5px;
}

.credential-container .submit-bttn button {
    width: 100%;
    padding: 10px;
    background-color: #333; 
    color: #fff; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.cred-wrapper {
    width: 80%;
    margin: 0 auto;
    margin-top: 8%;
    padding: 20px;
    border-radius: 10px;
}

.credential-container .submit-bttn button:hover {
    background-color: #555; /
}

/* Registration CSS END */
/* Manage Page */

.manage-content-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
}

.manage-content-item {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.add-task-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.add-task-container label {
    display: block;
    margin-bottom: 5px;
}

.add-task-container input[type="text"],
.add-task-container input[type="date"],
.add-task-container select,
.add-task-container textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.add-task-container button {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.add-task-container button:hover {
    background-color: #555;
}

.manage-content-item form button {
    width: 20%;
    padding: 5px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px;
    margin-top: 5px;
    transition: background-color 0.3s;
}

.manage-content-item form button:hover {
    background-color: #555;
}
/* Manage Page END */

/* Home */
.index-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-between; 
}

.welcome-section, .new-here-section {
    width: 48%; 
    text-align: center;
    padding: 20px;
    background-color: #f2f2f2; 
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-right: 10px; 
}

.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
    padding: 10px;
    background-color: #333; 
    color: #fff; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.button:hover {
    background-color: #555; 
}

.img-left {
    max-width: 100%;
    height: auto;
}

.img-right {
    max-width: 100%;
    height:auto;
}

/* Home End */

/* About Us */
.about-us-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.about-us-container img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

.about-us-container h1 {
    color: #333;
    font-size: 28px;
    margin-bottom: 10px;
}

.about-us-container p {
    color: #666;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.about-us-container i {
    color: #999;
}

/* About us End */




